<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <img class="diagram-image" src="./diagram.png" alt="diagram" />
    <div>total users: <%=usersCount%></div>
    <%- include("searchUser") %>
    <a href="/create">Create a user</a>
  </body>
</html>
